body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6fa;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}


form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(60,80,120,0.10);
    border: 1px solid #e3e8f0;

    justify-content: center;
    align-self: flex-start;
    padding: 1.2rem 2rem 3rem 2rem;
    
    width: 35em;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-bottom: 2rem;
    color: #2d3e50;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
}

.required {
    color: rgb(255, 77, 77);
    font-size: 10pt;
}


/* All inputs */
#emailid, #passwordid {
    margin-bottom: 1em;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 12px;
    font-size: 15pt;

    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
}


/* Login button */
#submitid {
    display: block;
    text-align: center;
    font-size: 20pt;
    background-color: rgb(220, 20, 60);
    color: white;
    border: none;
    border-radius: 20px;

    transition: 0.15s;
    cursor: pointer;

    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#submitid:hover {
    background-color: rgb(190, 20, 60);
}


/* Register button */
#register-link {
    display: block;
    text-align: center;
    font-size: 19pt;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 20px;
    
    cursor: pointer;
    transition: 0.15s;

    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#register-link:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(25, 25, 25);
    border-color: rgb(200, 200, 200);
}


label {
    color: rgb(173, 173, 173);
    margin-bottom: 0.5em;
}