header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6em;
    border-bottom: 1px solid rgb(220, 220, 220);
    color: rgb(36, 36, 36);
    background: white;
    margin-bottom: 3vh;
}

header a {
    font-size: 30pt;
    text-decoration: none;
    color: black;
}
