body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 35em;
    background-color: rgb(255, 255, 255);
}


/* Class error settings */
form .error {
    color: rgb(255, 77, 77);
    font-size: 10pt;
    margin-bottom: 2em;
}


/* Name Surname divs settings */
div#name-username {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

div#name-username div {
    display: flex; 
    flex-direction: column;
    width: 17em;
}


/* All inputs */
#nameid, #surnameid, #emailid, #passwordid, #numberid, #password-confirmid {
    margin-bottom: 0.5em;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 12px;
    font-size: 15pt;

    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
}


/* Registration button */
#submitid {
    display: block;
    text-align: center;
    font-size: 20pt;
    background-color: rgb(220, 20, 60);
    color: white;
    border: none;
    border-radius: 20px;

    transition: 0.15s;
    cursor: pointer;

    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#submitid:hover {
    background-color: rgb(190, 20, 60);
}


/* Login button */
#login-link {
    display: block;
    text-align: center;
    font-size: 19pt;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(138, 138, 138);
    border: 1px solid rgb(138, 138, 138);
    border-radius: 20px;
    
    cursor: pointer;
    transition: 0.15s;

    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#login-link:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(25, 25, 25);
    border-color: rgb(200, 200, 200);
}


#privacy-policyid {cursor: pointer;}

a {color: rgb(85, 85, 85);}




label {
    color: rgb(138, 138, 138);
    margin-bottom: 0.5em;
}

