/* Section of filters */
#filters-section {
    border: 1px solid rgb(223, 223, 223); 
    border-radius: 10px;
    margin-left: 2em;
    align-self: start;
}

section form {
    display: flex; 
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
    padding-bottom: 2.5em;
}

section form h2 {
    text-align: center;
    color: rgb(60, 60, 60);
    padding-bottom: 0.5em;
}

section form label {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

.range-inputs {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

/* Layouts settings */
#layout-toggle {
    margin-top: 1em;
}

#layout-checkboxes {
    display: none;
    
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

#search-button {
    font-size: 15pt;
    margin-top: 2em;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    cursor: pointer;
    transition: 0.15s;
}

#search-button:hover {
    background-color: rgb(190, 20, 60);
}