body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid; 
    grid-template-columns: 1fr 3fr;
    column-gap: 3em; 
    margin-top: 2em;
}

/* Section of listings */
section.listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3vw;
    column-gap: 2vw;
    padding-right: 2em;
}

section.listings article {
    border: 1px dotted rgb(197, 197, 197);
    border-radius: 16px;
    padding: 1em;
}


/* Flat image */
.listings article img {
    width: 100%;
    border-radius: 8px;
}


/* Listing text */
.listings article p {
    margin-left: 0.2em;
}

.for-rent {
    color: rgb(77, 77, 77);
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 0.4em;

    margin-top: 1em;
    margin-bottom: 1em;
}

.flat-size {
    color: rgb(150, 150, 150);
    margin-bottom: 0.5em;
}

.flat-location {
    color: rgb(150, 150, 150);
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 1em;
}

.flat-cost {
    color: rgb(150, 150, 150);
    margin-top: 1em;
}

#strong {
    color: rgb(77, 77, 77);
    font-weight: bolder;
    font-size: 20pt;
    margin-right: 0.2em;
    letter-spacing: 1px;
}


